* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: #fff9f9;
}

.cabecera {
    padding: 15px;

    section {
        display: flex;
        align-items: center;
    }
}

nav {
    display: flex;
    justify-content: center;

    .nav-link {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px;
        width: auto;
        color: var(--accent);

        .tooltip {
            width: 200px;
            padding: 12px 0;
            font-size: 14px;
            text-align: center;
            color: var(--today);
            background-color: #333;
            pointer-events: none;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            visibility: hidden;
            opacity: 0;
            border-radius: 7px;
            transition: all .4s ease;

        }
        .slide-in {
            transform: translateX(-50%) translateY(-10px);
        }

        .scale-in{
            transform: translateX(-50%) translateY(-30px) scale(0);
        }

        .tooltip::before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #333 transparent;
        }
    }



    .nav-link:hover,
    .nav-link:focus {
        .tooltip {
            visibility: visible;
            opacity: 1;
        }

        .slide-in {
            transform: translateX(-50%) translateY(0);
        }

        .scale-in{
            transform: translateX(-50%) translateY(0) scale(1);
        }
    }
}

.navegador {
    justify-content: space-between;

    a {
        color: #001626;
        text-decoration: none;
    }

    .selected {
        color: red;
        font-weight: 550;
    }
}

.subcabecera {
    justify-content: center;
    height: 150px;
}

.foto-nombre {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-family: monospace;

    img {
        border-radius: 50%;
        height: 44px;
    }
}

.life {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    border: 2px solid #000909;

    >article {
        padding: 1rem 1rem 0rem;
    }
}

.projects-section {
    display: flex;
    flex-direction: column;


    .list {
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: space-between;

        &:hover .project:not(:hover) {
            flex: 0.7;
        }
    }
}

.project {
    position: relative;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: flex 0.4s ease;

    .description {
        display: none;
        transform: translateY(10px);
        opacity: 0;
        transition: all 0.3s ease;
        pointer-events: none;
    }

    &:hover {
        flex: 3;
        transform: translateY(0);
    }

    &:hover .description {
        display: block;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

.experience-section {
    border: #000909 solid;
    border-width: 0px 1px 0px;

    .list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        ul {
            list-style-type: none;
        }
    }
}

.reviews-section {

    padding: 1rem 1rem 0rem;

    div {
        display: flex;
    }

    .section-wrapper {
        justify-content: center;
        align-items: center;
    }

    .list {
        width: 500px;
        justify-content: start;
        overflow-x: auto;
        scrollbar-width: none;
        gap: 10px;
        margin: 1.5rem;
    }
}

.review {
    padding: 1rem;
    width: 400px;
    flex-shrink: 0;
    background-color: #001626;
    border-radius: 5px;
    color: #fff9f9;
}

.scroll {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    height: 50px;
    width: 50px;
}



.form-section {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;

    div {
        display: flex;
    }

    .form-div {
        height: 15em;
        margin: 0 8em;
        padding: 5.5em 0;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        background-color: red;
        box-shadow: 5px 5px 10px #001626;
    }


    form {
        width: 17em;
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
            height: 2.5em;
        }

        input,
        textarea {
            background-color: #fff9f9;
            color: #000909;
            border: none;
            border-radius: 5px
        }

        #enviar {
            margin-top: 20px;
            background-color: #001626;
            color: #fff9f9;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
        }

        #mensaje {
            height: 5rem;
        }
    }

    .contact-div {
        align-items: center;
        justify-content: end;
    }
}



footer {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: #fabada;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    body {
        font-size: 14px;
        /* Tamaño de fuente más pequeño */
    }


    .navegador {
        flex-direction: column;

        .foto-nombre {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            font-size: xx-large;

            img {
                border-radius: 50%;
                height: 60px;
            }
        }
    }

    .menu {
        /* visibility: hidden;
        display: flex;
        flex-direction: column; */
        padding: 0.5rem;
    }

    .life {
        grid-template-columns: 1fr;
    }

    .reviews-section>div {
        /*Añadir ancho responsive*/
        background-color: aqua;
    }
}

/* Estilos para pantallas medianas */
@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    .form-section {
        grid-template-columns: 1fr;


        .contact-div {
            align-items: center;
            justify-content: center;

            ul {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                list-style: none;
            }
        }
    }

}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    main,
    .cabecera {
        width: 1024px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}