* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: #fff9f9;
}

.cabecera {
    padding: 15px;

    section {
        display: flex;
        align-items: center;
    }
}

.navegador {
    justify-content: space-between;

    a {
        color: #001626;
        text-decoration: none;
    }

    .selected>a {
        color: red;
        font-weight: 550;
    }
}

.subcabecera {
    justify-content: center;
    height: 150px;
}

.foto-nombre {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    img {
        border-radius: 50%;
        height: 44px;
    }
}

.life {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    border: 2px solid #000909;

    >article {
        padding: 1rem 1rem 0rem;
    }
}

.projects-section {
    display: flex;
    flex-direction: column;


    .list {
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: space-between;

        &:hover .project:not(:hover) {
            flex: 0.7;
        }
    }
}

.project {
    position: relative;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: flex 0.4s ease;

    .description {
        display: none;
        transform: translateY(10px);
        opacity: 0;
        transition: all 0.3s ease;
        pointer-events: none;
    }

    &:hover {
        flex: 3;
        transform: translateY(0);
    }

    &:hover .description {
        display: block;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

.experience-section {
    border: #000909 solid;
    border-width: 0px 1px 0px;

    .list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        ul {
            list-style-type: none;
        }
    }
}

.reviews-section {

    padding: 1rem 1rem 0rem;

    div {
        display: flex;
    }

    .section-wrapper {
        justify-content: center;
        align-items: center;
    }

    .list {
        width: 500px;
        justify-content: start;
        overflow-x: auto;
        scrollbar-width: none;
        gap: 10px;
        margin: 1.5rem;
    }
}

.review {
    padding: 1rem;
    width: 400px;
    flex-shrink: 0;
    background-color: #001626;
    border-radius: 5px;
    color: #fff9f9;
}

.scroll {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    height: 50px;
    width: 50px;
}



.form-section {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;

    div {
        display: flex;
    }

    .form-div {
        height: 15em;
        margin: 0 8em;
        padding: 5.5em 0;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        background-color: red;
        box-shadow: 5px 5px 10px #001626;
    }


    form {
        width: 17em;
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
            height: 2.5em;
        }

        input,
        textarea {
            background-color: #fff9f9;
            color: #000909;
            border: none;
            border-radius: 5px
        }

        #enviar {
            margin-top: 20px;
            background-color: #001626;
            color: #fff9f9;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
        }

        #mensaje {
            height: 5rem;
        }
    }

    .contact-div {
        align-items: center;
        justify-content: end;
    }
}



footer {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: #fabada;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    body {
        font-size: 14px;
        /* Tamaño de fuente más pequeño */
    }

    .menu {
        /* visibility: hidden;
        display: flex;
        flex-direction: column; */

    }

    .life {
        grid-template-columns: 1fr;
    }

    .reviews-section>div {
        /*Añadir ancho responsive*/
        background-color: aqua;
    }
}

/* Estilos para pantallas medianas */
@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    .form-section {
        grid-template-columns: 1fr;


        .contact-div {
            align-items: center;
            justify-content: center;

            ul {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                list-style: none;
            }
        }
    }

}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    main,
    .cabecera {
        width: 1024px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}

/* .menu-mobile {
    align-items: center;
    background-color: transparent;
    clip-path: polygon(81.05% 9.1%, 92% 9.1%, 92% 10.1%, 81.05% 10.1%);
    color: #fff9f9;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 28px;
    height: 60%;
    position: absolute;
    top: 0;
    transition: clip-path 400ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.active .menu-mobile {
    background-color: #e07a8d;
    clip-path: polygon(101% -1%, 101% 101%, -1% 101%, -1% -1%);
}

.options {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    transform: scale(0.8);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.option {
    cursor: pointer;
    margin: 8px 0;
}

.option.selected {
    color: #a02f56;
}

.active .options {
    transform: scale(1);
}

.x {
    pointer-events: none;
    position: absolute;
    top: 0;
}

.top-bars {
    stroke: #001626;
    transition: stroke 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active .top-bars {
    stroke: #fff9f9;
}

.bar {
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bar1 {
    transform-origin: 190px 20.5px;
}

.bar2 {
    transform-origin: 190px 28.5px;
}

.bar3 {
    transform-origin: 190px 28.5px;
}

.active .bar1 {
    transform: translateY(8.6px) rotate(45deg);
}

.active .bar2 {
    transform: rotate(-45deg);
}

.active .bar3 {
    transform: translateX(-6px) translateY(-6px) rotate(-45deg);
}

.menu-click-area {
    cursor: pointer;
    height: 40px;
    opacity: 0.3;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
} */